body {
  padding-top: 50px;
}

.todo-list-main {
  padding: 40px 15px;
  text-align: center;
}

.todo-list-item {
	height: 23px;
	margin-left:50px;
	margin-right:50px;
}

.delete-task {
	cursor: pointer; 
	
}