@(page: Task.Page, taskForm: Form[Task])

@import helper._
@import bootstrap._

@main("Todo list") {
	<div class="panel panel-default">
		<div class="panel-heading">
		   	@form(routes.Application.newTask()) {
		   		<legend>@page.getTotalRowCount() Task(s)</legend>
				<div class="input-group">
				<input type="text" 
					   autofocus
					   name="label" 
				       class="form-control" 
				       placeholder="Task Name" />
				  <span class="input-group-btn">
				    <button name="addButton" class="btn btn-default" type="submit">Add</button>
				  </span>
				</div>
			}	
		  </div>
		  <div class="panel-body">
		    <ul class="list-group">
		        @for(task <- page.getList()) {
		            <li class="list-group-item">
		            @form(routes.Application.deleteTask(task.id)) {
	            		<div class="pull-right">
		            		<button type="sumbit" class="btn btn-default btn-xs">
	 							<span class="glyphicon glyphicon-remove"></span>
	 						</button>
	            		</div>
					    <div class="todo-list-item">
					     	<span>@task.label</span>
					    </div>
					 }
		            </li>
		        }
		    </ul>
		  </div>
	</div>
	@pager(
		page.hasPrev(), 
		page.hasNext(), 
		routes.Application.tasks(page.getPageIndex() - 1).url, 
		routes.Application.tasks(page.getPageIndex() + 1).url, 
		page.getDisplayXtoYofZ(), 
		page.getPageIndex()
	)
    
}
