@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {
	<div class="panel panel-default">
		<div class="panel-heading">
		   	@form(routes.Application.newTask()) {
		   		<legend>@tasks.size() Task(s)</legend>
				<div class="input-group">
				<input type="text" 
					   autofocus
					   name="label" 
				       class="form-control" 
				       placeholder="Task Name" />
				  <span class="input-group-btn">
				    <button name="addButton" class="btn btn-default" type="submit">Add</button>
				  </span>
				</div>
			}	
		  </div>
		  <div class="panel-body">
		    <ul class="list-group">
		        @for(task <- tasks) {
		            <li class="list-group-item">
		            @form(routes.Application.deleteTask(task.id)) {
	            		<div class="pull-right">
		            		<button type="sumbit" class="btn btn-default btn-xs">
	 							<span class="glyphicon glyphicon-remove"></span>
	 						</button>
	            		</div>
					    <div class="todo-list-item">
					     	<span>@task.label</span>
					    </div>
					 }
		            </li>
		        }
		    </ul>
		  </div>
	</div>
    
}
